* {
    font-family: 'Outfit', sans-serif;
}

/* Header*/

header{
    text-align: center;
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 1,2rem;
    display: inline;
    color: rgb(4, 110, 32);  
}

ul {
    display: inline;
    list-style: none;
    color: brown;
}


a{
    color: rgb(73, 31, 11);
}

li{
    margin-right: 2rem;
    font-size: 1rem;
    display:inline;
}

@media screen and (min-width: 400px) {
    header {
      flex-direction: column;
      align-items: start;
    }

}

main{
    color:darkgreen;
   border: solid 2px darkgreen;
    grid-area: main;
}
body{
    padding-top: 2px
}

form{
    padding-top: 10px;
}

.submit{
    background-color: red;
    display: inline;
    color: blanchedalmond;
    border: red;
}