* {
    font-family: 'Outfit', sans-serif;
}

/* Home page*/
/* Header*/

header{
    text-align: center;
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 1,2rem;
    display: inline;
    color: rgb(4, 110, 32);  
}


ul {
    display: inline;
    list-style: none;
    color: brown;
}


a{
    color: rgb(73, 31, 11);
}

li{
    margin-right: 2rem;
    font-size: 1rem;
    display:inline;
}

@media screen and (min-width: 400px) {
    header {
      flex-direction: column;
      align-items: start;
    }

}

/* Main*/

.main-img {
    width: 100vw;
    padding-top: 10px;
}

h1{
    color: rgb(9, 79, 31)
}

h1 h2{
    padding-left: 50vw;
}



/* footer*/


footer{
    border: 2px solid rgb(9, 79, 31)
}



.p3{
    color: beige;
    font-size: 15px;
    padding-top: 10%;
}

.footer{
    background-color: rgb(9, 79, 31)
}