* {
    font-family: 'Outfit', sans-serif;
}

/* Header*/

header{
    text-align: center;
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 1,2rem;
    display: inline;
    color: rgb(4, 110, 32);  
}

ul {
    display: inline;
    list-style: none;
    color: brown;
}

a{
    color: rgb(73, 31, 11);
}

li{
    margin-right: 2rem;
    font-size: 1rem;
    display:inline;
}


/* main*/
main{
    align-items: center;
}

p{
    text-align: center;
    color: rgb(4, 110, 32);
    font-size: 0,8rem;
    font-weight: 1rem;
    padding-top: 2
    0px;
}

.melanie-kiwipom{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.melanie-image{
    width: 60%;

}

.melanie-link{
    color: rgb(4, 110, 32);
    font-size: 0,8rem;
    font-weight: 1rem;
    padding-top: 2
} 

.kiwipom-image {
    width: 30%;
}


.owl-comic{
    width: 50%;
    padding-top: 5px;
    padding-left: 25vw;
}

.rw-spread{
    width: 95%;
}

.lorde-magazine {
    width: 95%;
}

.pink-magazine {
    width: 95%;
}

@media screen and (min-width:600px) {  
     .spreads{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}
