* {
    font-family: 'Outfit', sans-serif;
}

/* Header*/

#logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    font-weight: 1,2rem;
    display: inline;
    padding: 50%;
    color: rgb(4, 110, 32);  
}

ul {
    list-style: none;
    color: brown;
    padding-left: 35%;
    padding-bottom: 0%;
}


a{
    color: rgb(73, 31, 11);
}

li{
    margin-right: 160px;
    font-size: 38px;
    display:inline
}

/* Main*/

.main-img {
    width: 130%
}

h1{
    color: rgb(9, 79, 31)
}

h1 h2{
    padding-left: 50%;
}



/* footer*/


footer{
    border: 2px solid rgb(9, 79, 31)
}



.p3{
    color: beige;
    font-size: 15px;
    padding-top: 10%;
}

div{
    background-color: rgb(9, 79, 31)
}