* {
    font-family: 'Outfit', sans-serif;
}

/* Header*/

#logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    font-weight: 1,2rem;
    display: inline;
    padding: 50%;
    color: rgb(4, 110, 32);
    
}

h1{
    color: brown;
}

ul {
    list-style: none;
    color: brown;
    padding-left: 35%;
    padding-bottom: 0%;
}

a{
    color: rgb(73, 31, 11);
}

li{
    margin-right: 160px;
    font-size: 38px;
    display:inline
}

/* main*/
.rw1-spread {
    width: 30%;
}

.rw2-spread{
    width: 30%;
}

.melanie-img{
    padding-left: 20%;
}

.kiwipom {
    padding-left: 80%;
}